<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="welcomepage.css">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    
    <h1 id = welcome>
        Welcome to 1xbed Machine Manufacturing Company
    </h1>

    <div id = container>
        <h2>
            Please login to continue
        </h2>
    <form method="post">
        {% csrf_token %}
        <label for="Username">Username:</label>
        <input type="text" id="username" name="username" value=""><br>
        <label for="Password">Password:</label>
        <input type="text" id="password" name="password" value=""><br>
        <button type="submit">Login</button>
    </form>
    <p id = note>
        If you don't have an account, please contact the administrator.
    </p>
</div>
<footer>
    <p class = footer>For more information, please contact us at <a href="mailto: [email protected]"> [email protected]</a></p>
</footer>
</body>
</html>