<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manager Page</title>
    <link rel="stylesheet" href="welcomepage.css">
</head>
<body>
    <script>
        function productclicked(){
            window.location.href = "product/main.html";
        }
        function componentclicked(){
            window.location.href = "component/main.html";
        }
    </script>
        <header>
            <h1>1xbed Machine Manufacturing Company</h1>
        </header>

    
    <h1 id = welcome>This is the manager page of my website.</h1>
    <!-- Link to another page --> 
    <div id = link>
    <button id = link onclick="productclicked()">
        <img src="product.png"  
        width="300" 
        height="300" >
        <br>
        Product
    </button>
    <button id = link onclick="componentclicked()">
        <img src="components.png"        
        width="300" 
        height="300">
        <br>
        Component</button>
    </div>
    <footer>
        <p class = footer>For more information, please contact us at <a href="mailto: [email protected]"> [email protected]</a></p>
    </footer>
</body>
</html>