<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Staff Page</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    <h1 id = welcome>STAFF</h1>
    <div id = link>
    <button id = choice><a
    href="staff/order">
        <img id =icon src="{% static 'img/order.png' %}"  
        width="50" 
        height="50" >
        <br>
        Order
    </a></button>
    <button id = choice><a
    href="staff/supply">
        <img id =icon src="{% static 'img/work-list.png' %}"  
        width="50" 
        height="50" >
        <br>
        Supply
    </a></button>
    <button id = choice><a
    href="staff/confirm_production">
        <img id =icon src="{% static 'img/checked.png' %}"  
        width="50" 
        height="50" >
        <br>
        Confirm Production
    </a></button>
    <button id = choice>
        <a  
        href="{% url 'homepage' %}">
        <img id =icon src="{% static 'img/back.png' %}"
        width="50"
        height="50">
        <br>
        Back
    </a> </button>
    </div>
</body>

</html>
