<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product - Component</title>
</head>
<body>
    <h2>Update Product - Component</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Product">Product:</label>
        <input type="text" id="product_type" name="product_type" value="{{pro_com.product_type }}" disabled><br>
        <label for="Component">Component:</label>
        <input type="text" id="component_type" name="component_type" value="{{pro_com.component_type }}" disabled><br>
        <label for="Quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{pro_com.quantity }}"><br>
        <button type="submit">Update</button>
    </form>
</body>
</html>