<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/component/add.css' %}">
</head>

<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    {% if list_component %}
        <div class="container">
            <h2>Add Component</h2>
            <form method="post">
                {% csrf_token %}
                <label class="label" for="component_type">Component:</label>
                <select id="component_type" name="component_type">
                    {% for component in list_component %}
                        <option value="{{ component.component_type }}">{{ component.component_type }}</option>
                    {% endfor %}
                </select><br>
                <label class="label" for="number">Number:</label>
                <input class="input" type="number" id="number" name="number" required><br>
                <button type="submit">Add</button>
            </form>
        </div>
    {% else %}
        <p class="message">No components available to add.</p>
    {% endif %}
</body>
</html>
