<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/component/main.css' %}">
</head>
<body>
    <header>
        <h1 >Web App</h1>
    </header>
    <h2 > Component Information </h2>
{% if list_quantity %}
    <table border="1">
        <tr>
            <th>Component Type</th>
            <th>Now</th>
            <th>Supplying</th>
            <th>Need</th>
            <th>Miss</th>
        </tr>
    {% for component in list_quantity %}
        <tr>
            <td>{{ component.component_type }}</td>
            <td>{{ component.now }}</td>
            <td>{{ component.supplying }}</td>
            <td>{{ component.need }}</td>
            <td>{{ component.miss }}</td>
            
    {% endfor %}
    </table>
{% else %}
<p id = note>No components are available.</p>
{% endif %}

<!-- Button "Add" with a single href -->
<button><a href="quantity/add">Add</a></button>
<button><a href="/manager">Back</a></button>

</body>
</html>
