body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

h1#welcome {
    background-image: url('logo.jpg');
    font-size: 40px;
    margin: 0;
    padding: 20px 0;
    color: #f3a66f;
    text-align: center;
    font-style: bold;
    
}
label {
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="number"] {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;}
button[type="submit"]:hover {
    background-color: #0056b3;
}
#container{
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: black;
}
p#note {
    text-align: center;
    font-size: 20px;
    color: red;
    font-style: italic;
}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
button#choice {
    background-color: white;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    position: center;
    width: 200px;
    height: 70px;
    margin: 10px;
    
}
button#choice:hover {
    background-color: grey;
}
div#link {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: #979191;
    height: 90px;
    }

    table{
        width: 90%;
        border-collapse: collapse;
        background-color: #f2f2f2;
        font-size: 20px;  
        border: 3px solid black;
        margin-top: 10px;
        margin: auto;
        
    }
    p{
        font-size: 20px;
        color: red;
        text-align: left;
        margin-top: 20px;
        background-image: none;
        font-style: italic;
    }
    td{
        border: 1px solid black;
        padding: 8px;
        text-align: center;
    }
br{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    color: black;
}
td#add {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    height:  20px;
}
a {
    display: inline-block;
    width: 100%; /* Make the button take up the full width of the cell */
    text-decoration: none;
    text-align: center;
    line-height: 20px;
}
#maincol {
    width: 90%;
}
th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    font-size: 40px;
    background-color: #979191;
}
img#icon {
    width: 30px;
    height: 30px;
}