<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Information</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    <h1 id = welcome>STAFF</h1>
    <div id = link>
    <button id = choice><a
    href="order">
        <img id =icon src="{% static 'img/order.png' %}"  
        width="50" 
        height="50" >
        <br>
        Order
    </a></button>
    <button id = choice><a
    href="supply">
        <img id =icon src="{% static 'img/work-list.png' %}"  
        width="50" 
        height="50" >
        <br>
        Supply
    </a></button>
    <button id = choice><a
    href="confirm_production">
        <img id =icon src="{% static 'img/checked.png' %}"  
        width="50" 
        height="50" >
        <br>
        Confirm Production
    </a></button>
    <button id = choice>
        <a  
        href="{% url 'homepage' %}">
        <img id =icon src="{% static 'img/back.png' %}"
        width="50"
        height="50">
        <br>
        Back
    </a> </button>
    </div>
    
    <h2>Order</h2>
{% if list_order %}
    <table border="1">
        <tr>
            <th >Order ID</th>
            <th>Address</th>
            <th >Phone Number</th>
            <th colspan="2"></th>
        </tr>
    {% for order in list_order %}
        <tr>
            <td width =15%>{{ order.order_id }}</td>
            <td width =60%>{{ order.address }}</td>
            <td>{{ order.phone_number }}</td>
            <td width = 5%><a href="order/{{ order.order_id }}/update_order">Update</a></td>
            <td width = 5%><a href="order/{{ order.order_id }}/show_product">Detail</a></td>
        </tr>
    {% endfor %}
    <tr>
        <td id = add colspan="5">
            <a href="order/add_order" id="add" class="button">Add</a>
        </td>
    </tr>
    </table>
{% else %}
    <p>No components are available.</p>
{% endif %}

<!-- Button "Add" with a single href -->
</body>
</html>
