<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component Information</title>
</head>
<body>

{% if list_order %}
    <table border="1">
        <tr>
            <th></th>
            <th>Order ID</th>
            <th>Address</th>
            <th>Phone Number</th>
            <th>Status</th>
        </tr>
    {% for order in list_order %}
        <tr>
            <td><a href="component/{{ order.id }}/">{{order.id}}</a></td>
            <td>{{ order.order_id }}</td>
            <td>{{ order.supplier_name }}</td>
            <td>{{ order.supplier_address }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No components are available.</p>
{% endif %}

<!-- Button "Add" with a single href -->
<button><a href="component/add">Add</a></button>
<button><a href="/staff">Back</a></button>

</body>
</html>