<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    <div id = headerweb>
    <h1 id = welcome>
        STAFF
    </h1>
    <div id = link>
    <button id = choice><a
    href="/staff/order">
        <img id =icon src="{% static 'img/order.png' %}"  
        width="50" 
        height="50" >
        <br>
        Order
    </a></button>
    <button id = choice><a
    href="/staff/supply">
        <img id =icon src="{% static 'img/work-list.png' %}"  
        width="50" 
        height="50" >
        <br>
        Supply
    </a></button>
    <button id = choice><a
    href="/staff/confirm_production">
        <img id =icon src="{% static 'img/checked.png' %}"  
        width="50" 
        height="50" >
        <br>
        Confirm Production
    </a></button>
    <button id = choice>
        <a  
        href="/staff/order">
        <img id =icon src="{% static 'img/back.png' %}"
        width="50"
        height="50">
        <br>
        Back
    </a> </button>
    </div>
</div>
<div>
    <h2> Product</h2>
</div>
<table border="1">
    <tr>
        <th>Product Type</th>
        <th colspan="2">Quantity</th>
    </tr>
{% for product in list_pro_in_order %}
    <tr>
        <td>{{ product.product_type }}</td>
        <td>{{ product.quantity }}</td>
        <td width =5%><a href="{{ product.product_type }}">Update</a></td>
    </tr>
{% endfor %}
<tr>
    <td id = add colspan="3">
        <a href="add_product" id="add" class="button">Add</a>
    </td>
</tr>
</table>

<!-- Button "Add" with a single href -->
</body>
</html>
