<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/component/add.css' %}">
</head>
<body>
    <header>
        <h1>Order</h1>
    </header>
    <div class="container">
    <h2>Update Product</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Product">Product:</label>
        <input type="text" id="product_type" name="product_type" value="{{ pro_in_order.product_type }}" disabled><br>
        <label for="Quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{ pro_in_order.quantity }}" required><br>
        <!-- Note for deletion -->
        <p>Make the quantity &le; 0 if you want to delete it.</p>
        <button type="submit">Update</button>
        <p></p>
        <button type="button" onclick="window.history.back()">Cancel
        </button>
    </form>
    </div>
</body>
</html>
