<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Product</title>
</head>
<body>
    <h2>Update Product</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Product">Product:</label>
        <input type="text" id="product_type" name="product_type" value="{{pro_in_order.product_type }}" disabled><br>
        <label for="Quantity">Quantity:</label>
        <input type="number" id="quantity" name="quantity" value="{{pro_in_order.quantity }}"><br>
        <!-- Note for deletion -->
        <p>Make the quantity <= 0 if you want to delete.</p>
        <button type="submit">Update</button>
    </form>

</body>
</html>