<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Component</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="addstyle.css">
</head>
<body>
    <script>
        function addclicked(){
            window.location.href = "main.html";
        }
    </script>
    <header>
        <h1>Web App </h1>
    </header>
    <div class =container>
        <h2>Add Component</h2>
    <form method="post">
        {% csrf_token %}
        <label class = label for="Component">Component:</label>
        <input class = input type="text" id="component_type" name="component_type" value="" ><br>
        <label class =label for="Supplier Name">Supplier Name:</label>
        <input class = input type="text" id="supplier_name" name="supplier_name" value="" ><br>
        <label class =label for="Supplier Address">Supplier Address:</label>
        <input class =input type="text" id="supplier_address" name="supplier_address" value=""><br>
        <button type="submit" onclick = "addclicked()">Add</button>
    </form>
    </div>
    <footer>
        <p class = footer>For more information, please contact us at <a href="mailto: [email protected]"> [email protected]</a></p>
    </footer>
</body>























































</body>
</html>