<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Component</title>
    <link rel="stylesheet" href="addstyle.css"
</head>

<body>
    <script>
        function updateclicked(){
            window.location.href = "main.html";
        }
    </script>
    <header>
        <h1>Web App </h1>
    </header>
    <div class="container">
        <h2>Update Component</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Component">Component:</label>
        <input class = inputer type="text" id="component_type" name="component_type" value="{{component.component_type }}" disabled><br>
        <label for="Supplier Name">Supplier Name:</label>
        <input class = inputer type="text" id="supplier_name" name="supplier_name" value="{{component.supplier_name }}" ><br>
        <label for="Supplier Address">Supplier Address:</label>
        <input class = inputer type="text" id="supplier_address" name="supplier_address" value="{{component.supplier_address }}"><br>
        <p id = note>Make the name of address blank if you want to delete.</p>
        <button type="submit" onclick = "updateclicked()">Update</button>
    </form>
    </div>
    <footer>
        <p class = footer>For more information, please contact us at <a href="mailto: [email protected]"> [email protected]</a></p>
    </footer>
</body>
</html>