<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Component</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/component/add.css' %}">
</head>
<body>
    <header>
        <h1>
            1xbed Machine Manufacturing Company
        </h1>
    </header>
    <div class="container">
        <h2>Update Component</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Component">Component:</label>
        <input type="text" id="component_type" name="component_type" value="{{component.component_type }}" disabled><br>
        <label for="Supplier Name">Supplier Name:</label>
        <input type="text" id="supplier_name" name="supplier_name" value="{{component.supplier_name }}" ><br>
        <label for="Supplier Address">Supplier Address:</label>
        <input type="text" id="supplier_address" name="supplier_address" value="{{component.supplier_address }}"><br>
        <p>Leave the name or address blank if you want to delete.</p>
        <button type="submit">Update</button>
        <p></p>
        <button type="button">
            <a href="/manager/component">
                Cancel
            </a>
        </button>
    </form>
    </div>

</body>
</html>