<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Product</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/component/add.css' %}">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    <div class="container">
    <h2>Add Product</h2>
    <form method="post">
        {% csrf_token %}
        <label for="Product">Product:</label>
        <input type="text" id="product_type" name="product_type" value="" required><br>
        <button type="submit">Add</button>
    </form>
    </div>
</body>
</html>