<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
    <title>Component of product</title>
</head>
<body>
    <header>
        <h1>
            1xbed Machine Manufacturing Company
        </h1>
    </header>
    <div id = headerweb>
        <h1 id = welcome>
        MANAGER
        </h1>
    </div>
    <div id = link>
        <div>
    <button id = choice ><a
    href="/manager/product">
        <img id =icon src="{% static 'img/product.png' %}"  
        width="50" 
        height="50" >
        <br>
        Product
    </a></button>
    <button id = choice><a
        href="/manager/component">
            <img id =icon src="{% static 'img/component.png' %}"  
            width="50" 
            height="50" >
            <br>
            Component
    </a></button>
    <button id = choice><a
        href="/manager/quantity">
            <img id =icon src="{% static 'img/quantity.png' %}"  
            width="50" 
            height="50" >
            <br>
            Quantity
    </a></button>
    <button id = choice><a
        href="/manager/request_production">
            <img id =icon src="{% static 'img/checker.png' %}"  
            width="50" 
            height="50" >
            <br>
            Request Production
    </a></button>
    <button id = choice>
        <a  
        href="/manager/product">
        <img id =icon src="{% static 'img/back.png' %}"
        width="50"
        height="50">
        <br>
        Back
    </a> </button>
    </div>
</div>
    <h2> 
        Product Component
    </h2>

<table border="1">
    <tr>
        <th>Component Type</th>
        <th colspan="2">Quantity</th>

    </tr>
{% for pro_com in list_pro_com %}
    <tr>
        <td id = maincol>{{ pro_com.component_type }}</td>
        <td>{{ pro_com.quantity }}</td>
        <td width =5%><a href="{{ pro_com.component_type }}">{{"Update"}}</a></td>

    </tr>
{% endfor %}
<tr>
    <td id = add colspan="3">
        <a href="add_component" id="add" class="button">Add</a>
    </td>
</tr>
</table>

<!-- Button "Add" with a single href -->
</body>
</html>