<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Component of product</title>
</head>
<body>

{% if list_pro_com %}
    <table border="1">
        <tr>
            <th></th>
            <th>Component Type</th>
            <th>Quantity</th>
        </tr>
    {% for pro_com in list_pro_com %}
        <tr>
            <td><a href="{{ pro_com.component_type }}">{{"Update"}}</a></td>
            <td>{{ pro_com.component_type }}</td>
            <td>{{ pro_com.quantity }}</td>
        </tr>
    {% endfor %}
    </table>
{% else %}
    <p>No components are available.</p>
{% endif %}

<!-- Button "Add" with a single href -->
<button><a href="add_component">Add</a></button>
<button><a href="/manager">Back</a></button>

</body>
</html>