<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Producing</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcomepage.css' %}">
</head>
<body>
    <header>
        <h1>1xbed Machine Manufacturing Company</h1>
    </header>
    <div id = headerweb>
    <h1 id = welcome>
        STAFF
    </h1>
    <div id = link>
    <button id = choice><a
    href="order">
        <img src="{% static 'img/order.png' %}"  
        width="50" 
        height="50" >
        <br>
        Order
    </a></button>
    <button id = choice><a
    href="supply">
        <img src="{% static 'img/work-list.png' %}"  
        width="50" 
        height="50" >
        <br>
        Supply
    </a></button>
    <button id = choice><a
    href="confirm_production">
        <img src="{% static 'img/checked.png' %}"  
        width="50" 
        height="50" >
        <br>
        Confirm Production
    </a></button>
    <button id = choice>
        <a  
        href="{% url 'homepage' %}">
        <img src="{% static 'img/back.png' %}"
        width="50"
        height="50">
        <br>
        Back
    </a> </button>
    </div>
</div>
    {% if producing %}
    <table border="1">
        <tr>
            <th>Order ID</th>
            <th>Product Type</th>
            <th>Quantity</th>
        </tr>
        {% for product in producing %}
        <tr>
            <td>{{ product.order_id }}</td>
            <td>{{ product.product_type }}</td>
            <td>{{ product.quantity }}</td>
            <td>
                <form action="{% url 'staff/confirm_production' order_id=product.order_id product_type=product.product_type %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Confirm</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <p>No product is available to produce.</p>
    {% endif %}

</body>
</html>